/*link to google fonts used*/

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.logo{
  font-family: "Shrikhand";
}


// font-family: "Roboto", cursive;
$color-primary: #9356dc;
$color-secondary: #e270da;
$ticket-background-color: #99e2d0;
$ticket-text-color: #088c6c;
$color-animation: #96e8ca;
$grey-background1: #E9E9E9;
$grey-background2: #f6f6f6;
$footer-background: #353535;
$background-link-active: #f5edff;

/*Spacing section*/
$border-topic: 5vw;
$topic-bd-radius: 4vw;
$price-width: 30%;

/*animation timings section*/
$on-hover-anim-duration: 0.3s;
$n: 1;
$topic-anim-duration: 0.85s;
$topic-anim-delay: 0.25s;
$entrees-topics-number: 3;
$entrees-anim-time: (($entrees-topics-number - 1) * $topic-anim-delay) + $topic-anim-duration/2;

$plats-topics-number: 3;
$plats-anim-time: (($plats-topics-number - 1) * $topic-anim-delay) + $topic-anim-duration/2;

@keyframes loading {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
    visibility: visible;
  }
}

#header {
  display: flex;
  flex-direction: column;
  width: 100%;
  .logo{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 2vw 0;
    font-size: 8vw;
    width: 100%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 15%;
      color: black;
      position: absolute;
      left: 0;
      font-size: 7.5vw;
      text-decoration: none;
    }
  }
  // Styling the search section for the home page
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $grey-background1;
    border-top: 0.6vw solid gainsboro;
    // box-shadow: 0vw 0vw 1vw grey;
    &__form {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55%;
      background-color: $grey-background1;
    }
    & i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20%;
      font-size: 4.5vw;
    }
    & input {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      padding: 3.3vw 0;
      outline: none;
      border: none;
      appearance: none;
      background-color: $grey-background1;
      font-size: 4.2vw;
      font-weight: 500;
    }
    & input::placeholder {
      background: transparent;
      display: flex;
      align-items: center;
      color: black;
      font-size: 4.2vw;
      font-weight: 400;
    }
  }
  // Styling the exploration section for the home page
  .exploration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $grey-background2;
    padding-top: 7vw;
    padding-bottom: 11vw;
    & h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 5.5vw;
      width: 67%;
      font-style: bold;
      margin-bottom: 4vw;
    }
    & p {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      font-size: 3.8vw;
      width: 82%;
      color: grey;
      margin-bottom: 7vw;
    }
    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-style: bold;
      border-radius: 10vw;
      background: linear-gradient(0deg, $color-primary, $color-secondary);
      text-decoration: none;
      cursor: pointer;
      font-size: 3.7vw;
      padding: 3.5vw;
    }
  }
  // Styling the header image for restaurant pageq
  .img {
    display: flex;
    width: 100%;
    height: 90vw;
    object-fit: cover;
    z-index: -1;
  }
}
#fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 11vw;
  padding-bottom: 10vw;
  width: 100%;
  & h2 {
    font-size: 6.5vw;
    font-style: bold;
    padding-left: 5vw;
    margin-bottom: 4vw;
    width: 100%;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 87%;
    &__link {
      display: flex;
      position: relative;
      align-items: center;
      width: 100%;
      background-color: $grey-background2;
      color: black;
      margin-bottom: 3vw;
      height: 17.5vw;
      font-size: 4.5vw;
      font-weight: 600;
      border-radius: 5vw;
      box-shadow: 1vw 1.5vw 2vw gainsboro;
      text-decoration: none;
      &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: $color-primary;
        color: white;
        border-radius: 50%;
        height: 8vw;
        width: 8vw;
        font-size: 4vw;
        top: 30%;
        left: -3.5vw;
      }
      & i {
        display: flex;
        align-items: center;
        font-size: 5vw;
        color: black;
        opacity: 0.7;
        padding-left: 10vw;
        padding-right: 3vw;
        height: 100%;
      }
    }
    &__link--active {
      display: flex;
      position: relative;
      align-items: center;
      width: 100%;
      margin-bottom: 4.5vw;
      height: 19vw;
      font-size: 4.5vw;
      font-weight: 600;
      border-radius: 5vw;
      box-shadow: 1vw 1.5vw 2vw gainsboro;
      text-decoration: none;
      color: black;
      background-color: $background-link-active;
      &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: $color-primary;
        color: white;
        border-radius: 50%;
        height: 8vw;
        width: 8vw;
        font-size: 4vw;
        top: 30%;
        left: -3.5vw;
      }
      & i {
        display: flex;
        align-items: center;
        font-size: 5vw;
        color: black;
        color: $color-primary;
        opacity: 0.7;
        padding-left: 10vw;
        padding-right: 3vw;
        height: 100%;
      }
    }
  }
}

#restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 11vw;
  padding-bottom: 10vw;
  background-color: $grey-background2;
  & h2 {
    width: 100%;
    padding-left: 5vw;
    font-size: 6.5vw;
    font-style: bold;
    margin-bottom: 5vw;
  }
  .presentation {
    display: flex;
    flex-direction: column;
    width: 92%;
    height: 280vw;
    &__topic {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 65vw;
      border-radius: $border-topic;
      margin-bottom: 5vw;
      text-decoration: none;
      &.new::before {
        display: flex;
        justify-content: center;
        align-items: center;
        content: "Nouveau";
        padding: 1.5vw 2.5vw;
        border-radius: 1vw;
        position: absolute;
        background-color: $ticket-background-color;
        color: $ticket-text-color;
        width: 18%;
        height: 5vw;
        left: 70%;
        margin-top: 3.5vw;
        font-size: 4vw;
      }
      & img {
        display: flex;
        width: 100%;
        height: 70%;
        border-radius: $border-topic $border-topic 0vw 0vw;
        object-fit: cover;
      }
      &__header {
        display: flex;
        align-items: center;
        height: 30%;
        &__text {
          display: flex;
          flex-direction: column;
          width: 80%;
          height: 100%;
          background-color: white;
          border-radius: 0 0 0 $border-topic;
          padding-left: 4vw;
          padding-top: 4vw;
          & h3 {
            font-size: 5vw;
            color: black;
          }
          & p {
            font-size: 4.8vw;
            color: black;
            font-weight: 100;
          }
        }
        &__icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20%;
          height: 100%;
          position: relative;
          background-color: white;
          border-radius: 0 0 $border-topic 0;
          & i{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            font-size: 6vw;
            width: 55%;
            height: 55%;
            &.layer0{
              z-index: 3;
              color: black;
            }
            &.layer1{
              color: transparent;
              z-index: 2;
            }
            &:hover{
              &.layer0{
                z-index: 2;
              }
              &.layer1{
                color: $color-primary;
                z-index: 3;
              }
            }
          }

        }
      }
    }
  }
}

#list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $grey-background2;
  border-radius: 12vw 12vw 0 0;
  padding-top: 8vw;
  margin-top: -14vw;
  width: 100%;

  .title {
    display: flex;
    justify-content: space-between;
    width: 92%;
    align-items: center;

    & h1 {
      display: flex;
      font-family: "Shrikhand", sans-serif;
      font-size: 7.3vw;
      padding-left: 2.5vw;
    }
    & i {
      font-size: 7.3vw;
      margin-right: 4.5vw;
    }
    & i:hover {
      color: $color-primary;
    }
  }

  .entrees {
    display: flex;
    flex-direction: column;
    width: 92%;
    padding-top: 7.5vw;
    & h2 {
      font-size: 4.5vw;
      color: grey;
      padding-bottom: 5.8vw;
      position: relative
    }
    & h2::after{
        position: absolute;
        content: '';
        width: 12%;
        height: 100%;
        border-top: 1vw solid $color-animation;
        top: 50%;
        left: 0%;
    }

    &--topic {
      display: flex;
      width: 100%;
      height: 18.4vw;
      margin-bottom: 3.5vw;
      background-color: white;
      border-radius: $topic-bd-radius;
      overflow: hidden;
      animation: loading $topic-anim-duration linear 1 forwards;
      // animation-fill-mode: forwards;
      visibility: hidden;

      &:nth-child(n + 1) {
        animation-delay: ($topic-anim-delay * 0);
      }
      &:nth-child(n + 2) {
        animation-delay: ($topic-anim-delay * 1);
      }
      &:nth-child(n + 3) {
        animation-delay: ($topic-anim-delay * 2);
      }
      &:nth-child(n + 4) {
        animation-delay: ($topic-anim-delay * 3);
      }
      &:hover .entrees--topic--presentation {
        width: 65%;
      }
      &:hover .entrees--topic--price {
        width: 35%;
        transform: translateX(0%);
        & span {
          width: 25%;
          transform: translateX(0%);
        }
        & .entrees--topic--price--back {
          width: 75%;
          background-color: $color-animation;
          & i {
            color: white;
            background-color: $color-animation;
            transform: rotate(0deg) scale(1);
          }
        }
      }
      &--presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 3vw;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 80%;
        transition: all $on-hover-anim-duration ease-in-out;

        & h3 {
          font-size: 5vw;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        & p {
          font-size: 4vw;
          color: gray;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      &--price {
        border-radius: 0 4vw 4vw 0;
        display: flex;
        padding-bottom: 3vw;
        width: $price-width;
        color: black;
        width: 20%;
        height: 18.4vw;
        font-weight: bold;
        transform: translateX(76%);
        transition: all $on-hover-anim-duration ease-in-out;
        & span {
          display: flex;
          justify-content: left;
          width: 90%;
          height: 18.4vw;
          align-items: flex-end;
          padding-bottom: 3vw;
          font-size: 4vw;
          transform: translateX(-70%);
          transition: all $on-hover-anim-duration ease-in-out;
        }
        &--back {
          display: flex;
          width: 10%;
          justify-content: center;
          align-items: center;
          height: 18.4vw;
          background-color: $color-animation;
          transition: all $on-hover-anim-duration ease-in-out;
          & i {
            font-size: 8vw;
            color: $color-animation;
            background: transparent;
            transform: rotate(-1500deg) scale(0.25);
            transition: all $on-hover-anim-duration ease-in-out;
          }
        }
      }
    }
  }
  .plats {
    display: flex;
    flex-direction: column;
    width: 92%;
    padding-top: 7.5vw;
    & h2 {
        position: relative;
      font-size: 4.5vw;
      color: grey;
      padding-bottom: 5.8vw;
    }
    & h2::after{
        position: absolute;
        content: '';
        width: 12%;
        height: 100%;
        border-top: 1vw solid $color-animation;
        top: 50%;
        left: 0%;
    }
    &--topic {
      display: flex;
      width: 100%;
      height: 18.4vw;
      margin-bottom: 3.5vw;
      background-color: white;
      border-radius: $topic-bd-radius;
      overflow: hidden;
      visibility: hidden;
      animation: loading $topic-anim-duration linear 1 forwards;
      

      &:nth-child(n + 1) {
        animation-delay: ($entrees-anim-time)+ ($topic-anim-delay * 0);
      }
      &:nth-child(n + 2) {
        animation-delay: ($entrees-anim-time)+ ($topic-anim-delay * 1);
      }
      &:nth-child(n + 3) {
        animation-delay: ($entrees-anim-time)+ ($topic-anim-delay * 2);
      }

      &:hover .plats--topic--presentation {
        width: 65%;
      }
      &:hover .plats--topic--price {
        width: 35%;
        transform: translateX(0%);
        & span {
          width: 25%;
          transform: translateX(0%);
        }
        & .plats--topic--price--back {
          width: 75%;
          background-color: $color-animation;

          & i {
            color: white;
            background-color: $color-animation;
            transform: rotate(0deg) scale(1);
          }
        }
      }

      &--presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 3vw;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 80%;
        transition: all $on-hover-anim-duration ease-in-out;

        & h3 {
          font-size: 5vw;
          margin-bottom: 0.8vw;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        & p {
          font-size: 4vw;
          color: gray;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      &--price {
        border-radius: 0 4vw 4vw 0;
        display: flex;
        padding-bottom: 3vw;
        width: $price-width;
        color: black;
        width: 20%;
        height: 18.4vw;
        font-weight: bold;
        transform: translateX(76%);
        transition: all $on-hover-anim-duration ease-in-out;
        & span {
          display: flex;
          justify-content: left;
          width: 90%;
          height: 18.4vw;
          align-items: flex-end;
          padding-bottom: 3vw;
          font-size: 4vw;
          transform: translateX(-70%);
          transition: all $on-hover-anim-duration ease-in-out;
        }
        &--back {
          display: flex;
          width: 10%;
          justify-content: center;
          align-items: center;
          height: 18.4vw;
          background-color: $color-animation;
          transition: all $on-hover-anim-duration ease-in-out;
          & i {
            font-size: 9vw;
            color: $color-animation;
            background: transparent;
            transform: rotate(-1300deg) scale(1);
            transition: all $on-hover-anim-duration ease-in-out;
          }
        }
      }
    }
  }
  .desserts {
    display: flex;
    flex-direction: column;
    width: 92%;
    padding-top: 7.5vw;
    & h2 {
        position: relative;
      font-size: 4.5vw;
      color: grey;
      padding-bottom: 5.8vw;
    }
    & h2::after{
      position: absolute;
      content: '';
      width: 12%;
      height: 100%;
      border-top: 1vw solid $color-animation;
      top: 50%;
      left: 0%;
  }
    &--topic {
      display: flex;
      width: 100%;
      height: 18.4vw;
      margin-bottom: 3.5vw;
      background-color: white;
      border-radius: $topic-bd-radius;
      overflow: hidden;
      visibility: hidden;
      animation: loading $topic-anim-duration linear 1 forwards;

      &:nth-child(n + 1) {
        animation-delay: ($entrees-anim-time + $plats-anim-time)+ ($topic-anim-delay * 0);
      }
      &:nth-child(n + 2) {
        animation-delay: ($entrees-anim-time + $plats-anim-time)+ ($topic-anim-delay * 1);
      }
      &:nth-child(n + 3) {
        animation-delay: ($entrees-anim-time + $plats-anim-time)+ ($topic-anim-delay * 2);
      }
      &:hover .desserts--topic--presentation {
        width: 65%;
      }
      &:hover .desserts--topic--price {
        width: 35%;
        transform: translateX(0%);
        & span {
          width: 25%;
          transform: translateX(0%);
        }
        & .desserts--topic--price--back {
          width: 75%;
          background-color: $color-animation;

          & i {
            color: white;
            background-color: $color-animation;
            transform: rotate(0deg) scale(1);
          }
        }
      }

      &--presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 3vw;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 80%;
        transition: all $on-hover-anim-duration ease-in-out;

        & h3 {
          font-size: 5vw;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        & p {
          font-size: 4vw;
          color: gray;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      &--price {
        border-radius: 0 4vw 4vw 0;
        display: flex;
        padding-bottom: 3vw;
        width: $price-width;
        color: black;
        width: 20%;
        height: 18.4vw;
        font-weight: bold;
        transform: translateX(76%);
        transition: all $on-hover-anim-duration ease-in-out;
        & span {
          display: flex;
          justify-content: left;
          width: 90%;
          height: 18.4vw;
          align-items: flex-end;
          padding-bottom: 3vw;
          font-size: 4vw;
          transform: translateX(-70%);
          transition: all $on-hover-anim-duration ease-in-out;
        }
        &--back {
          display: flex;
          width: 10%;
          justify-content: center;
          align-items: center;
          height: 18.4vw;
          background-color: $color-animation;
          transition: all $on-hover-anim-duration ease-in-out;
          & i {
            font-size: 8vw;
            color: $color-animation;
            background: transparent;
            transform: rotate(-1500deg) scale(0.25);
            transition: all $on-hover-anim-duration ease-in-out;
          }
        }
      }
    }
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 13vw;
    border: none;
    border-radius: 12vw;
    font-size: 4.5vw;
    font-weight: bold;
    color: white;
    background: linear-gradient(0deg, $color-primary, $color-secondary);
    margin-top: 10vw;
    margin-bottom: 22vw;
    transition: 0.5s all ease-in-out;
    &:hover {
      transform: scale(1.15);
    }
  }
}

#footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $footer-background;
  padding: 5vw 5vw;
  .logo {
    color: white;
    font-size: 5.5vw;
    margin-bottom: 5vw;
  }
  .list {
    display: flex;
    flex-direction: column;
    width: 92%;
    &__link {
      text-decoration: none;
      color: white;
      margin-bottom: 2vw;
      font-size: 4.5vw;
      & i {
        padding-right: 3vw;
      }
    }
  }
}